<h2>You gave us these values:</h2>
<ul>
  <li>Height: <%= @height %></li>
  <li>Width: <%= @width %></li>
  <li>Depth: <%= @depth %></li>
  <li>Weight: <%= @weight %></li>
  <em><li>Volume: <%= @volume %></li></em>
</ul>
<h1>It will cost $<%= @final_price %>0 to ship this parcel.</h1>
